In [42]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [43]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])

In [44]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [45]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [46]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T9","T13","T12","T2","T14","T25","T15","T29","T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [47]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [48]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts_1 = classification_counts[classification_counts > 1]
print(classification_counts_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [49]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1883
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [50]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [51]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"])
y = application_df["IS_SUCCESSFUL"]


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [52]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [53]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=512, activation="relu", input_dim=X_train_scaled.shape[1]))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Dropout(0.2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=256, activation="relu"))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Dropout(0.2))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation="relu"))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Dropout(0.2))

# Forth hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu"))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_25 (Dense)                     │ (None, 512)                 │          22,528 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ batch_normalization_15               │ (None, 512)                 │           2,048 │
│ (BatchNormalization)                 │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_15 (Dropout)                 │ (None, 512)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_26 (Dense)                     │ (None, 256)                 │         131,328 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ batch_normalization_16               │ (None, 256)                 │           1,024 │
│ (BatchNormalization)                 │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_16 (Dropout)                 │ (None, 256)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_27 (Dense)                     │ (None, 128)                 │          32,896 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ batch_normalization_17               │ (None, 128)                 │             512 │
│ (BatchNormalization)                 │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_17 (Dropout)                 │ (None, 128)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_28 (Dense)                     │ (None, 64)                  │           8,256 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ batch_normalization_18               │ (None, 64)                  │             256 │
│ (BatchNormalization)                 │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_18 (Dropout)                 │ (None, 64)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_29 (Dense)                     │ (None, 1)                   │              65 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 198,913 (777.00 KB)

 Trainable params: 196,993 (769.50 KB)

 Non-trainable params: 1,920 (7.50 KB)

In [54]:
# Compile the model
nn.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss="binary_crossentropy", metrics=["accuracy"])

# Implement early stopping
early_stopping = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [55]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_data=(X_test_scaled, y_test), callbacks=[early_stopping])

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 16s 14ms/step - accuracy: 0.6769 - loss: 0.6529 - val_accuracy: 0.7264 - val_loss: 0.5694
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 9ms/step - accuracy: 0.7147 - loss: 0.5789 - val_accuracy: 0.7271 - val_loss: 0.5584
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 9ms/step - accuracy: 0.7247 - loss: 0.5676 - val_accuracy: 0.7276 - val_loss: 0.5598
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.7246 - loss: 0.5663 - val_accuracy: 0.7282 - val_loss: 0.5580
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 12s 13ms/step - accuracy: 0.7244 - loss: 0.5649 - val_accuracy: 0.7298 - val_loss: 0.5573
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 18s 10ms/step - accuracy: 0.7272 - loss: 0.5634 - val_accuracy: 0.7304 - val_loss: 0.5556
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7272 - loss: 0.5596 - val_accuracy: 0.7307 - val_loss: 0.5557
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 14ms/step - accuracy: 0.7310 - loss: 0.5592 - val_accuracy: 0.7286 - val_loss: 0.5553
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 9ms/step - accuracy: 0.7315 - loss: 0.5547 - val_accuracy: 0.7273 - val_loss: 0.5585
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 9s 8ms/step - accuracy: 0.7284 - loss: 0.5580 - val_accuracy: 0.7306 - val_loss: 0.5553
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7313 - loss: 0.5544 - val_accuracy: 0.7311 - val_loss: 0.5534
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 10ms/step - accuracy: 0.7289 - loss: 0.5547 - val_accuracy: 0.7259 - val_loss: 0.5549
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 10ms/step - accuracy: 0.7270 - loss: 0.5537 - val_accuracy: 0.7298 - val_loss: 0.5549
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 10ms/step - accuracy: 0.7315 - loss: 0.5529 - val_accuracy: 0.7282 - val_loss: 0.5536
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7319 - loss: 0.5570 - val_accuracy: 0.7293 - val_loss: 0.5537
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7362 - loss: 0.5459 - val_accuracy: 0.7263 - val_loss: 0.5556
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7299 - loss: 0.5562 - val_accuracy: 0.7317 - val_loss: 0.5533
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 8ms/step - accuracy: 0.7357 - loss: 0.5497 - val_accuracy: 0.7299 - val_loss: 0.5534
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 12s 10ms/step - accuracy: 0.7287 - loss: 0.5549 - val_accuracy: 0.7286 - val_loss: 0.5533
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 9ms/step - accuracy: 0.7278 - loss: 0.5575 - val_accuracy: 0.7285 - val_loss: 0.5530
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.7277 - loss: 0.5537 - val_accuracy: 0.7307 - val_loss: 0.5525
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 9s 9ms/step - accuracy: 0.7342 - loss: 0.5511 - val_accuracy: 0.7286 - val_loss: 0.5515
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 8ms/step - accuracy: 0.7320 - loss: 0.5542 - val_accuracy: 0.7299 - val_loss: 0.5511
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - accuracy: 0.7330 - loss: 0.5518 - val_accuracy: 0.7283 - val_loss: 0.5531
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7301 - loss: 0.5516 - val_accuracy: 0.7304 - val_loss: 0.5529
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7399 - loss: 0.5446 - val_accuracy: 0.7294 - val_loss: 0.5503
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7314 - loss: 0.5552 - val_accuracy: 0.7310 - val_loss: 0.5507
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 9ms/step - accuracy: 0.7370 - loss: 0.5478 - val_accuracy: 0.7286 - val_loss: 0.5510
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 8ms/step - accuracy: 0.7327 - loss: 0.5501 - val_accuracy: 0.7300 - val_loss: 0.5508
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 11s 9ms/step - accuracy: 0.7396 - loss: 0.5448 - val_accuracy: 0.7273 - val_loss: 0.5502
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7344 - loss: 0.5515 - val_accuracy: 0.7289 - val_loss: 0.5503
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7342 - loss: 0.5494 - val_accuracy: 0.7292 - val_loss: 0.5500
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7345 - loss: 0.5542 - val_accuracy: 0.7300 - val_loss: 0.5516
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 10ms/step - accuracy: 0.7319 - loss: 0.5476 - val_accuracy: 0.7294 - val_loss: 0.5512
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 9ms/step - accuracy: 0.7335 - loss: 0.5462 - val_accuracy: 0.7293 - val_loss: 0.5525
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 10s 9ms/step - accuracy: 0.7343 - loss: 0.5451 - val_accuracy: 0.7296 - val_loss: 0.5517
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 9s 8ms/step - accuracy: 0.7416 - loss: 0.5416 - val_accuracy: 0.7294 - val_loss: 0.5508
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 11s 8ms/step - accuracy: 0.7364 - loss: 0.5466 - val_accuracy: 0.7291 - val_loss: 0.5522
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7348 - loss: 0.5472 - val_accuracy: 0.7296 - val_loss: 0.5529
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7308 - loss: 0.5526 - val_accuracy: 0.7299 - val_loss: 0.5530
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 10ms/step - accuracy: 0.7321 - loss: 0.5513 - val_accuracy: 0.7286 - val_loss: 0.5503
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 8s 9ms/step - accuracy: 0.7388 - loss: 0.5430 - val_accuracy: 0.7291 - val_loss: 0.5504

In [58]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Model Accuracy: {model_accuracy * 100:.2f}%")

268/268 - 3s - 10ms/step - accuracy: 0.7292 - loss: 0.5500
Model Accuracy: 72.92%

In [59]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.